#color-palette {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  list-style-type: none; /* Remove os pontos */
  padding: 0; /* Remove o espaçamento interno */
  margin: 0; /* Remove o espaçamento externo */
}
  
  .color {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
  }
  
  .color:hover {
    transform: scale(1.1);
    border-color: black;
  }
  
  .color.selected {
    border: 2px solid black;
  }
  