.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  display: inline-block;
  box-sizing: border-box;
}

.board {
  margin: 10px auto;
  display: grid;
  gap: 1px;
  justify-content: center;
  background-color: #ccc;
  padding: 5px;
  border-radius: 5px;
}
