.app-header {
    background-color: #578b57cb;
    color: #F0F0F0;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
    margin: 0;
    font-size: 36px;
}